:root {
  --main-color: #8B8FAE;
  --page-title-text-color: var(--main-color);
  --main-color-disabled: #c6959f;
  --sub-main-color: #CA4F68;
  --sub-main-color-hover: #c83d59;
  --second-color: #cc7f8f;
  --description-text-color: #ECDEE1;
  --background-color-1: white;
  --background-color-2: var(--main-color);
  --background-color-3: white;
  --background-color-shadow-3: #bfbfbf;
  --background-color-4: white;
  --main-container-background: white;
}
