:root {
  --main-color: #4a70ab;
  --main-color-disabled: #9a9a9a;
  --sub-main-color: #35517b;
  --sub-main-color-hover: #3c5e92;
  --second-color: rgb(58, 98, 117);
  --description-text-color: #e6eaff;
}