:root {
  --main-color: #f88a00;
  --main-color-disabled: #ffb969;
  --sub-main-color: #38993E;
  --sub-main-color-hover: #2e7933;
  --second-color: #38993e;
  --description-text-color: #D1FFD8;
  --background-color-1: #171F2B;
  --background-color-2: #171F2B;
  --background-color-3: #222B39;
  --background-color-4: #1D2633;
}
